version: '3.8'

services:
  app:
    image: gautamgaurisaria/sample-be-devops:latest
    container_name: sample-be-app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: unless-stopped
    pull_policy: always